<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}<br><br>
        <p>I'm a young Developer who is curious to explore every corner of Web Development! </p>
        <p>This is a simple Weather app which I made to practise my Node/Express skills.</p>
    </div>
    
    {{>footer}}
</body>

</html>